h5 {
	margin:6px 0;
}
form p {
	margin-bottom:10px;
}
.post form {
	padding:0 25px;
}
#note_title {
	width:100%;
}
textarea {
	width:99%;
	height:100px;
}
.flash_message { padding:2px 8px;}
.warning {border:2px solid #F2DD8C; background-color:#FFF5CC;}
.warning a {color:#df0000;}
.msg.warning a:hover, .msg.warning a:active, .msg.warning a:focus {color:#303030;}
.info {border:2px solid #B8E2FB; background-color:#E8F6FF;}
.notice {border:2px solid #BBDF8D; background-color:#EAF7D9;}
.error {border:2px solid #FFAEAE; background-color:#FEEBEB;}