<div id="footer">
	<div id="footer-menu">
		<ul>
			<li class="active"><a href="#">homepage</a></li>
			<li><a href="#">photo gallery</a></li>
			<li><a href="#">about us</a></li>
			<li><a href="#">links</a></li>
			<li><a href="#">contact us</a></li>
		</ul>
	</div>
	<p id="legal">(c) 2009 Dan Engle. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
</div>