<div id="header">
	<div id="logo">
		<h1><%= link_to "Lab Notebok", root_path %></h1>
		<h2>Where you get your science done</h2>
	</div>
	<div id="menu">
		<ul>
			<li class="active"><a href="#">homepage</a></li>
			<li><a href="#">photo gallery</a></li>
			<li><a href="#">about us</a></li>
			<li><a href="#">links</a></li>
			<li><a href="#">contact us</a></li>
		</ul>
	</div>
</div>