<div id="header">
	<div id="logo">
		<h1><%= link_to "Lab Notebok", root_path %></h1>
		<h2>Where you get your science done</h2>
	</div>
	<div id="menu">
		<ul>
		  <% if logged_in? %>
		    <li><%= link_to "Create New Project", new_project_path %></li>
			  <li><%= link_to "View List of Researchers by Project", users_path %></li>
			  <li><%= link_to "Log out", logout_path, { :title => "Log out" } %></li>
			<% end %>
		</ul>
	</div>
</div>